.details{
    margin: 25px;
}

.tableContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.chart{
    display: flex;
    flex-direction: column;
    text-align: center;
}